{% extends 'app/base.html' %}

{% block content %}
    <div class = 'container sticky-top'>
        <div class = 'top-header'><h1>To do list</h1></div>
        <div class = 'header'>
            <form class = 'mb-3 form' method="POST" action="/">
                {% csrf_token %}
                {{ form.title }}
                <input class = 'btn btn-success' type="submit" name="Add Task">
            </form>
        </div>

        
        {% for task in tasks %}
        <div class = 'task-list'>
            {% if task.complete == True %}
            <strike class = 'task-list'>{{ task.title }}</strike>
            {% else %}
            <span class = 'task-list'>{{ task.title }}</span>
            <!-- <p>{{ task.title }}</p> -->
            {% endif %}
            <br>
            <a class = 'btn btn-outline-secondary' href="{% url 'update_task' task.id  %}">Update</a>
            <a class = 'btn btn-outline-secondary' href="{% url 'delete_task' task.id  %}">Delete</a>
            <br>
        </div>

        {% endfor %}
            
        
    </div>
{% endblock %}